@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    
}

.home-page{
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    margin: auto;
}

.projects-page{
    font-family: 'Montserrat', sans-serif;
}




.app{
    background-color: #D9D8E1;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    min-height: 100vh;
}
.courasel{
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 0;
}
.img-courasel{
    width: 450px;
    height: 300px;
    border-radius: 20px;
}
.info{
    padding-left: 25px;
    width: 640px;
    font-family: 'Montserrat', sans-serif;
}
.detail{
    margin-top: 20px;
    height: 250px;
    overflow-x: auto;
    overflow-y: auto;
    font-family: 'Montserrat', sans-serif;
}
.arrow{
    opacity: 0.1;
}
.arrow:hover{
    opacity: 1;
}
.mini-info{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
}
.navbarcolor{
    background-color: #173A6A;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif; 
}   

.nav-link{
    font-family: 'Montserrat', sans-serif; 
}

.sectionName{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: larger;
}

.simpletext{
    font-family: 'Montserrat', sans-serif; 
}

.dropdown-item{
    font-family: 'Montserrat', sans-serif; 
}

.name{
    font-family: 'Montserrat', sans-serif; 
}

.btn-to-detail{
    font-family: 'Montserrat', sans-serif; 
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
}

.grid-container >div{
    margin: auto;
}
.rating-stars{
    margin: 10px auto;
}
.button{
    margin:1rem;
    margin-top: 0;
    color: #2f2d2e;
    font:bold;
    background-color: white;
    border: 2px solid #8e00b9;
    padding: 0.6rem;
    border-radius: 6px;
    text-align: center;
    transition-duration: 0.5s;
    animation: ease-in-out; 
}

.button:hover{
    background: linear-gradient(to left, #2d00f7, #ff0291);
    transform: scale(1.2);
    border:none;
    color:white;
}

.auction-info > div{
    margin: auto;
}